{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} Liste des utilisateurs {% endblock %}

{% block contenu %}   
    
    <h1> Liste des utilisateurs </h1>   
    {% if not listeUtilisateurs is empty %} 
       
    <table class="table">   
        
        <tr><th>Nom</th>
            <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Date inscription</th>
        <th></th>
        </tr>  
        
        {% for key,value in listeUtilisateurs %}       
            <tr><td><a href="{{ path('utilisateur_modifier',{'id':value.id})}}">{{ value.nom }}</a></td>
                <td>{{ value.prenom }}</td>
            <td>{{ value.datenaissance|date("d/m/Y") }}</td>
            <td>{{ value.dateinscription|date("d/m/Y") }}</td>
            <td><input type="checkbox" name="cocher[]" value="{{ value.id }}"/></td>
            
            </tr>     
        {% endfor %}   
        
    </table>
        
   
        {% else %}    
            Aucun utilisateur à afficher
            {% endif %}
            
                {% endblock %}